$primary_color: #21434c;
$secondary_color: #1d2528;

$success_color: #1BCA3B;
$warning_color: #ffd548;
$danger_color: #ed2529;
$information_color: #2778c4;


$text_color: #ffffff;
$link_color: #ffffff;
$link_color_hover: #00cf8f;

$border_color: #c4c7c8;
$background_color:#0c0c0c;
$overlay_background_color: rgba(0, 0, 0, 0.25);

$white_color: #ffffff;
$gray_color: #EDEDED;
$gray_light_color: #ededed;

$button_color: #00cf8f;
$button_text_color: #ffffff;

$button_color_hover: #ffffff;
$button_text_color_hover: #00cf8f;

$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 10px;

$font-family: 'Fraunces', sans-serif;

