.btn{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: none;
  margin: 10px 0 ;
  padding: 10px 25px;
  cursor: pointer;
  width: max-content;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
  @include transition();

  @include tablet{
    padding: 15px 25px;
  }

  &._solid{
    color: $button_text_color;
    background-color: $button_color;
    &:hover{
      background-color: $button_text_color;
      color: #000000;
    }
  }
  &._second{
    color: #000000;
    background-color: $button_text_color;
    &:hover{
      background-color: $button_color;
      color: $button_text_color;
    }
  }
}